# Windows image file caches
Thumbs.db
ehthumbs.db

# Folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ss]ave/

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
TruthWorldEnvironment.xml
Assets/Hit & Slashes Vol.3.meta
Assets/Hit & Slashes Vol.3/Demo Scene.meta
Assets/Hit & Slashes Vol.3/Demo Scene/BG.jpg
Assets/Hit & Slashes Vol.3/Demo Scene/BG.jpg.meta
Assets/Hit & Slashes Vol.3/Demo Scene/Demo.unity
Assets/Hit & Slashes Vol.3/Demo Scene/Demo.unity.meta
Assets/Hit & Slashes Vol.3/Demo Scene/instructions.png
Assets/Hit & Slashes Vol.3/Demo Scene/instructions.png.meta
Assets/Hit & Slashes Vol.3/Demo Scene/mask2.png
Assets/Hit & Slashes Vol.3/Demo Scene/mask2.png.meta
Assets/Hit & Slashes Vol.3/Demo Scene/Righteous-Regular.ttf
Assets/Hit & Slashes Vol.3/Demo Scene/Righteous-Regular.ttf.meta
Assets/Hit & Slashes Vol.3/Demo Scene/UI-arrow 1.png
Assets/Hit & Slashes Vol.3/Demo Scene/UI-arrow 1.png.meta
Assets/Hit & Slashes Vol.3/Materials.meta
Assets/Hit & Slashes Vol.3/Materials/flash-2.mat
Assets/Hit & Slashes Vol.3/Materials/flash-2.mat.meta
Assets/Hit & Slashes Vol.3/Materials/flashes-1.mat
Assets/Hit & Slashes Vol.3/Materials/flashes-1.mat.meta
Assets/Hit & Slashes Vol.3/Materials/glow-white.mat
Assets/Hit & Slashes Vol.3/Materials/glow-white.mat.meta
Assets/Hit & Slashes Vol.3/Materials/hit-blue-1.mat
Assets/Hit & Slashes Vol.3/Materials/hit-blue-1.mat.meta
Assets/Hit & Slashes Vol.3/Materials/hit-outer.mat
Assets/Hit & Slashes Vol.3/Materials/hit-outer.mat.meta
Assets/Hit & Slashes Vol.3/Materials/hit-red-1.mat
Assets/Hit & Slashes Vol.3/Materials/hit-red-1.mat.meta
Assets/Hit & Slashes Vol.3/Materials/hit-white-1.mat
Assets/Hit & Slashes Vol.3/Materials/hit-white-1.mat.meta
Assets/Hit & Slashes Vol.3/Materials/hit-white-2.mat
Assets/Hit & Slashes Vol.3/Materials/hit-white-2.mat.meta
Assets/Hit & Slashes Vol.3/Materials/hit-white-3.mat
Assets/Hit & Slashes Vol.3/Materials/hit-white-3.mat.meta
Assets/Hit & Slashes Vol.3/Materials/hit-yellow.mat
Assets/Hit & Slashes Vol.3/Materials/hit-yellow.mat.meta
Assets/Hit & Slashes Vol.3/Materials/lines-1.mat
Assets/Hit & Slashes Vol.3/Materials/lines-1.mat.meta
Assets/Hit & Slashes Vol.3/Materials/lines-1b.mat
Assets/Hit & Slashes Vol.3/Materials/lines-1b.mat.meta
Assets/Hit & Slashes Vol.3/Materials/lines-2.mat
Assets/Hit & Slashes Vol.3/Materials/lines-2.mat.meta
Assets/Hit & Slashes Vol.3/Materials/particle-colored.mat
Assets/Hit & Slashes Vol.3/Materials/particle-colored.mat.meta
Assets/Hit & Slashes Vol.3/Materials/particle-white.mat
Assets/Hit & Slashes Vol.3/Materials/particle-white.mat.meta
Assets/Hit & Slashes Vol.3/Materials/punch-1.mat
Assets/Hit & Slashes Vol.3/Materials/punch-1.mat.meta
Assets/Hit & Slashes Vol.3/Materials/scratch.mat
Assets/Hit & Slashes Vol.3/Materials/scratch.mat.meta
Assets/Hit & Slashes Vol.3/Materials/slash-1.mat
Assets/Hit & Slashes Vol.3/Materials/slash-1.mat.meta
Assets/Hit & Slashes Vol.3/Materials/sw-1.mat
Assets/Hit & Slashes Vol.3/Materials/sw-1.mat.meta
Assets/Hit & Slashes Vol.3/Materials/sw-color-1.mat
Assets/Hit & Slashes Vol.3/Materials/sw-color-1.mat.meta
Assets/Hit & Slashes Vol.3/Prefabs.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-blue-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-blue-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-blue-2.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-blue-2.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-blue-3.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-blue-3.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-line-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-line-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-line-2.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-line-2.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-outer-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-outer-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-outer-2.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-outer-2.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-red-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-red-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-red-2.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-red-2.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-red-3.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-red-3.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-white-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-white-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-white-2.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-white-2.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-white-3.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-white-3.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-white-4.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-white-4.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/hit-yellow-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/hit-yellow-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/punch-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/punch-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/punch-2.prefab
Assets/Hit & Slashes Vol.3/Prefabs/punch-2.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/scratch-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/scratch-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/scratch-2.prefab
Assets/Hit & Slashes Vol.3/Prefabs/scratch-2.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/slash-1.prefab
Assets/Hit & Slashes Vol.3/Prefabs/slash-1.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/slash-2.prefab
Assets/Hit & Slashes Vol.3/Prefabs/slash-2.prefab.meta
Assets/Hit & Slashes Vol.3/Prefabs/slash-3.prefab
Assets/Hit & Slashes Vol.3/Prefabs/slash-3.prefab.meta
Assets/Hit & Slashes Vol.3/SelfDestruct.cs
Assets/Hit & Slashes Vol.3/SelfDestruct.cs.meta
Assets/Hit & Slashes Vol.3/Sprites.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/flash-2.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/flash-2.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/flashes-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/flashes-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/glow-white.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/glow-white.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-blue-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-blue-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-outer.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-outer.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-red-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-red-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-white-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-white-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-white-2.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-white-2.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-white-3.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-white-3.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-yellow.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/hit-yellow.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/lines-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/lines-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/lines-1b.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/lines-1b.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/lines-2.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/lines-2.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/particle-colored.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/particle-colored.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/particle-white.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/particle-white.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/punch-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/punch-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/scratch.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/scratch.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/slash-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/slash-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/sw-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/sw-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/sw-color-1.png
Assets/Hit & Slashes Vol.3/Sprites/Bigger Sized Source Image/sw-color-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/flash-2.png
Assets/Hit & Slashes Vol.3/Sprites/flash-2.png.meta
Assets/Hit & Slashes Vol.3/Sprites/flashes-1.png
Assets/Hit & Slashes Vol.3/Sprites/flashes-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/glow-white.png
Assets/Hit & Slashes Vol.3/Sprites/glow-white.png.meta
Assets/Hit & Slashes Vol.3/Sprites/hit-blue-1.png
Assets/Hit & Slashes Vol.3/Sprites/hit-blue-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/hit-outer.png
Assets/Hit & Slashes Vol.3/Sprites/hit-outer.png.meta
Assets/Hit & Slashes Vol.3/Sprites/hit-red-1.png
Assets/Hit & Slashes Vol.3/Sprites/hit-red-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/hit-white-1.png
Assets/Hit & Slashes Vol.3/Sprites/hit-white-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/hit-white-2.png
Assets/Hit & Slashes Vol.3/Sprites/hit-white-2.png.meta
Assets/Hit & Slashes Vol.3/Sprites/hit-white-3.png
Assets/Hit & Slashes Vol.3/Sprites/hit-white-3.png.meta
Assets/Hit & Slashes Vol.3/Sprites/hit-yellow.png
Assets/Hit & Slashes Vol.3/Sprites/hit-yellow.png.meta
Assets/Hit & Slashes Vol.3/Sprites/lines-1.png
Assets/Hit & Slashes Vol.3/Sprites/lines-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/lines-1b.png
Assets/Hit & Slashes Vol.3/Sprites/lines-1b.png.meta
Assets/Hit & Slashes Vol.3/Sprites/lines-2.png
Assets/Hit & Slashes Vol.3/Sprites/lines-2.png.meta
Assets/Hit & Slashes Vol.3/Sprites/particle-colored.png
Assets/Hit & Slashes Vol.3/Sprites/particle-colored.png.meta
Assets/Hit & Slashes Vol.3/Sprites/particle-white.png
Assets/Hit & Slashes Vol.3/Sprites/particle-white.png.meta
Assets/Hit & Slashes Vol.3/Sprites/punch-1.png
Assets/Hit & Slashes Vol.3/Sprites/punch-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/scratch.png
Assets/Hit & Slashes Vol.3/Sprites/scratch.png.meta
Assets/Hit & Slashes Vol.3/Sprites/slash-1.png
Assets/Hit & Slashes Vol.3/Sprites/slash-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/sw-1.png
Assets/Hit & Slashes Vol.3/Sprites/sw-1.png.meta
Assets/Hit & Slashes Vol.3/Sprites/sw-color-1.png
Assets/Hit & Slashes Vol.3/Sprites/sw-color-1.png.meta
Assets/Tresure_box.meta
Assets/Tresure_box/Materials.meta
Assets/Tresure_box/Materials/box_01.mat
Assets/Tresure_box/Materials/box_01.mat.meta
Assets/Tresure_box/Materials/box_02.mat
Assets/Tresure_box/Materials/box_02.mat.meta
Assets/Tresure_box/Textures.meta
Assets/Tresure_box/Textures/box_01.tga
Assets/Tresure_box/Textures/box_01.tga.meta
Assets/Tresure_box/Textures/box_01_normal.tga
Assets/Tresure_box/Textures/box_01_normal.tga.meta
Assets/Tresure_box/Textures/box_02.tga
Assets/Tresure_box/Textures/box_02.tga.meta
Assets/Tresure_box/Textures/box_02_normal.tga
Assets/Tresure_box/Textures/box_02_normal.tga.meta
Assets/Tresure_box/tresure_box.fbx
Assets/Tresure_box/tresure_box.fbx.meta
